@charset "utf-8";
body {
}
#page one {
	width: 90px;
}
div {
}
#div {
	background-color: #F7FF82;
	width: 750px;
	float: left;
	height: 835px;
}
#div #text  {
	background-color: #FF0004;
	width: 750px;
	float: right;
	height: 305px;
}
#cover {
	background-color: #F7FF82;
	width: 750px;
	height: 835px;
}
#cover #textdos {
	background-color: #FF0003;
	color: #FFFFFF;
	width: 300px;
	height: 500px;
}
#cover #textthree {
	background-color: #FF00E5;
	width: 250px;
	float: right;
	height: 525px;
}
#coveroutline {
	width: 750px;
	height: 835px;
	background-color: #F7FF82;
}
#coveroutline #textop {
	background-color: #87B50C;
	color: #9ED8CD;
	width: 300px;
	height: 175px;
}
#coveroutline #txt {
	width: 200px;
	height: 260px;
	background-color: #00FFBB;
}
#coveroutline #finaltextobx {
	background-color: #EC82FF;
	width: 200px;
	float: right;
}
